<style>
  .containerTwo {
    display:  flex;
    margin-top: 35px;
    justify-content: space-around;
  }
  .left {
    margin-left: 50px;
  }
  /*.card-title-123 {*/
  /*  font-family: "Avant Garde", Avantgarde, sans-serif;*/
  /*  text-align: center;*/
  /*  padding: 5px;*/
  /*  color: dimgrey;*/
  /*}*/
  /*.card-title-123 {*/
  /*  overflow: hidden;*/
  /*}*/
  /*span {*/
  /*  position: relative;*/
  /*  transform: translateY(100%);*/
  /*  transition: .3s;*/
  /*  display: inline-block;*/
  /*}*/

  /*.card-title-123:hover span {*/
  /*  transform: translateY(0);*/
  /*}*/

  .col-md-5 {
    padding-top: 15px;
  }
  .card-title {
    margin-bottom: 15px;
  }

.user-list {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 200px;
}
  .img-fluid {
    /*border-radius: 100px; !* Радиус скругления *!*/
    border: 3px solid #494646FF; /* Параметры рамки */
    box-shadow: 0 0 7px #494646; /* Параметры тени */
    margin: 10px;
  }
  .card-blocked {
    width: 185px;
    align-items: baseline;
    align-content: flex-end;
    justify-content: space-between;
    margin-bottom: 5px;
  }
</style>

  <div class="container">
    <div class="containerTwo">
      <div class="block" style="max-width: 750px;">
    {{#each user}}
      <div class="col s12 m7">
        <div class="card horizontal" style="flex-direction: row">
          <div class="card-image">
            <img src="{{imageURL}}" class="img-fluid rounded-start" alt="картинка" width="150"/>
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <div class="card-blocked" style="display: flex"><p>Статус клиента: {{#if isBlocked}} <h6 style="color: red">Блокирован</h6>
              {{else}}  <h6 style="color: green"> Активен</h6> {{/if}}
                </p>
                </div>
                <div style="margin-bottom: 20px"> <p> Купил товаров: ___ {{buyProduct.length}} </p>
              </div>
                <a href="/book/admin/block/{{_id}}" class="shadow btn btn-danger">Заблокировать</a>
                <a href="/book/admin/unblock/{{_id}}" class="shadow btn btn-success">Разблокировать</a>
              </div>

            </div>
            <div class="card-action">
              <div class="btn-group">
                <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Корзина
                </button>
                <ul class="dropdown-menu">
                  {{#each buyProduct}}
                    <li>
                      <a href="users/{{user._id}}/returnProduct/{{post._id}}" class="dropdown-item">Вернуть товар<h6>{{post.name}}</h6></a>
                    </li>
                  {{/each}}
                </ul>
              </div>
              <img src="https://w7.pngwing.com/pngs/981/639/png-transparent-white-shopping-cart-illustration-computer-icons-shopping-cart-online-shopping-shopping-cart-icon-miscellaneous-angle-orange.png" width="30" >
              <a href="#">Что именно купил</a>
            </div>
          </div>
        </div>
      </div>

    {{/each}}
      </div>

      <div class="shadow left">
        <div class="card">
          <div class="alert alert-primary" role="alert" width="318">
            <marquee scrollamount="4" style="color: #5985de; font-size: 20px; font-weight: bolder; line-height: 150%; text-shadow: #000000 0px 1px 1px;">Intocode Coding Bootcamp</marquee>
          </div>
          <a href="https://www.apple.com/ru" target="_blank"><img
            src="https://www.ixbt.com/img/n1/news/2021/4/3/podcast-cover-b2b608a849c6409bfe0de150bb33770b-scaled_large.jpeg"
            width="318"
            alt="картинка" title="Биткоин"
          /></a>
          <p></p>
          <a href="https://moscow.megafon.ru/" target="_blank">
            <img src="https://cs8.pikabu.ru/post_img/2017/05/19/6/149518684415692779.jpg" width="318" alt="картинка" title="Мегафон"/></a>
        </div>
      </div>
    </div>
  </div>